[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
tornado = "*"
ipython = "*"

[dev-packages]
rope = "*"
ipython = "*"

[requires]
python_version = "3.6"
